/nsc-store
/dist
/coverage
**/__pycache__
**/*.pyc
**/*.egg-info
**/.venv
**/caddy.log
**/test*.txt
/sandbox-jwt
/sandbox-jetstream
/nats-server
/nsc
/www
/OTHER_BAD_GENERIC.creds
/qnats
/resolver.conf
/debug
/mini.json
/nats.conf
/nats1.conf
/nats2.conf
/config.json
/caddy
/caddy.exe
/config-operator.json
/cmd/qnats
