{
	debug
	order oauth2_session before handle
	nats {
		auth_service {
			client {
				internal
				name auth-service
			}
			default deny
			policy {
				match {
					username APP
				}
				callout oauth2 {
					endpoint az
					account APP
					template {
						allow_pub "{oidc.session.email}.>"
						allow_pub "test.>"
						allow_resp
					}
				}
			}
			policy {
				match {
					host 127.0.0.1
					kind Client
					connection_type nats
					username SYS
				}
				callout allow {
					account SYS
				}
			}
			policy {
				match {
					connection_type in_process
					username OAUTH2
				}
				callout allow {
					account OAUTH2
				}
			}
			policy {
				match {
					token TEST
					tls_server_name local.quara-dev.com
				}
				callout allow {
					account TEST
				}
			}
		}
		server {
			trace_verbose
			name srv-01
			port 4222
			http_port 8222
			system_account SYS
			jetstream
			websocket {
				port 10443
				advertise local.quara-dev.com:10443
				tls local.quara-dev.com other.local.quara-dev.com
			}
			accounts {
				TEST {
					jetstream
				}
				OAUTH2 {
					jetstream
				}
				APP {
					jetstream
					import_stream "$SYS.REQ.SERVER.PING" from "SYS"
					}
				}
				SYS {
					export_stream "$SYS.REQ.SERVER.PING" to "APP"
				}
			}
		}
	}
	otelcol {
		service {
			extensions health_check pprof zpages
			pipelines {
				traces {
					receivers otlp
					processors batch
					exporters debug
				}
				metrics {
					receivers otlp
					processors batch
					exporters debug
				}
				logs {
					receivers otlp
					processors batch
					exporters debug
				}
			}
			telemetry {
				logs {
					level debug
					initial_fields {
						service server-01
					}
				}
				metrics {
					level detailed
					address 127.0.0.1:8888
				}
			}
		}
		receivers {
			otlp {
				protocols {
					grpc {
						endpoint 127.0.0.1:4318
					}
					http {
						endpoint 127.0.0.1:4317
					}
				}
			}
		}
		processors {
			batch
		}
		exporters {
			debug
		}
		extensions {
			health_check {
				endpoint 127.0.0.1:4315
			}
			pprof
			zpages
		}
	}
	oauth2 {
		endpoint az {
			store jetstream {
				client {
					internal
					name oauth2-az-endpoint
					username OAUTH2
				}
			}
			cookie_secure
			cookie_http_only no
			cookie_domains .localhost
			email_domains *
			whitelist_domains .localhost
			extra_jwt_issuers https://sts.windows.net/96bdcf75-3f33-4995-966b-d8eddb861f9b/=4a224c79-38e2-487f-96e0-5f4febfa4ce1
			provider oidc {
				id azure-ad
				name "Azure AD"
				client_id 4a224c79-38e2-487f-96e0-5f4febfa4ce1
				client_secret {secret.oauth2-client-secret@az-kv-srv-01}
				scope openid email profile
				login_url https://login.microsoftonline.com/96bdcf75-3f33-4995-966b-d8eddb861f9b/v2.0/oauth2/authorize
				redeem_url https://login.microsoftonline.com/96bdcf75-3f33-4995-966b-d8eddb861f9b/v2.0/oauth2/token
				profile_url https://graph.microsoft.com/v1.0/me
				oidc_issuer_url https://login.microsoftonline.com/96bdcf75-3f33-4995-966b-d8eddb861f9b/v2.0
				oidc_jwks_url https://login.microsoftonline.com/common/discovery/keys
				oidc_audience_claims aud
				oidc_email_claim email
				oidc_user_id_claim email
			}
		}
	}
	secrets {
		stores {
			az-kv-srv-01 azure_keyvault https://kv-srv-01.vault.azure.net
		}
	}
	local_certs
}

local.quara-dev.com {
	oauth2_session {
		endpoint az
	}
	respond "hello world"
}
